/* Write */
.write{height:100%;}
.write .container{padding:16px 16px 72px 16px;}
.write textarea{width:100%;height:100%;background:#fff;border:1px solid #1976d2;font-size:12px;padding:12px;color:#000;}
.write .v-btn{position:fixed;bottom:0;left:0;height:56px;}
.write .v-btn:hover{position:fixed;}

/* List */
.todo .container .v-list{padding:0;}
.todo .container .v-list > div{border:1px solid #1976d2;margin:6px 0 0 0;height:32px;}
.todo .container .v-list > div .v-list__tile{height:32px;}
.todo .container .input-group__details{min-height:1px;}
.todo .container .list__tile__content{width:69%;}
.todo .container .list__tile__title{font-family:"NotoSansKR", sans-serif;font-size:14px;font-weight:900;}

/* View */
.view{width:100%;height:100%;}
.view .container{padding:16px 16px 72px 16px;}
.view .btn_wrap{position:fixed;width:100%;height:72px;background:#fff;bottom:0;left:0;}
.view .v-btn{position:fixed;bottom:0;left:0;height:56px;}
.view .v-btn:first-child{left:16px;width:43%;}
.view .v-btn:last-child{right:16px;left:auto;width:43%;}
.view .v-btn:hover{position:fixed;}
.view p{width:100%;height:100%;padding:12px;font-size:12px;text-align:left;background:#1976d2;color:#fff;margin:0;}